# McKinney Chapter 3 - Practice - Sec 02

## Announcements

1. Keep forming groups on Canvas under *People* in the left sidebar
2. You must ask me for groups larger than four students

## Five-Minute Review

### List

A list is an ordered collection of objects that is changeable (mutable).
You can create an empty list using either `[]` or `list()`.

In [1]:
my_list = [1, 2, 3, [1, 2, 3, [1, 2, 3]]]
my_list

[1, 2, 3, [1, 2, 3, [1, 2, 3]]]

***Python is zero-indexed!***

In [2]:
my_list[0]

1

In [3]:
my_list[:3] # to get first 3 objects, :3

[1, 2, 3]

In [4]:
my_list[1:4] # to get next 3 objects from 1, go from 1 to 1+3 or 1:3

[2, 3, [1, 2, 3, [1, 2, 3]]]

### Tuple

A tuple is similar to a list but un-changeable (immutable).
You can create a tuple using parentheses `()` or the `tuple()` function.

In [5]:
my_tuple = (1, 2, 3, (1, 2, 3, (1, 2, 3)))
my_tuple

(1, 2, 3, (1, 2, 3, (1, 2, 3)))

***Python is zero-indexed!***

In [6]:
my_tuple[0]

1

***Tuples are immutable, so they cannot be changed!***

In [7]:
# my_tuple[0] = 2_001
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# Cell In[10], line 1
# ----> 1 my_tuple[0] = 2_001

# TypeError: 'tuple' object does not support item assignment

### Dictionary

A dictionary is an ordered collection of key-value pairs that are changeable (mutable).
You can create an empty dictionary using either `{}` or the `dict()` function.

In [8]:
my_dict = {'wb': 'Warren Buffett', 'sk': 'Seth Klarman'}
my_dict

{'wb': 'Warren Buffett', 'sk': 'Seth Klarman'}

- The *key* can be anything hashable (string, integer, tuple), but I (almost) always make the key a string
- The *value* can be any python object

In [9]:
my_dict['wb']

'Warren Buffett'

In [10]:
my_dict['pl'] = 'Peter Lynch'
my_dict

{'wb': 'Warren Buffett', 'sk': 'Seth Klarman', 'pl': 'Peter Lynch'}

### List Comprehension

A list comprehension is a concise way of creating a new list by iterating over an existing list or other iterable object.
It is more time and space-efficient than traditional for loops and offers a cleaner syntax.
The basic syntax of a list comprehension is `new_list = [expression for item in iterable if condition]` where: 

1. `expression` is the operation to be performed on each element of the iterable
1. `item` is the current element being processed
1. `iterable` is the list or other iterable object being iterated over
1. `condition` is an optional filter that only accepts items that evaluate to True.
    
For example, we can use the following list comprehension to create a new list of even numbers from 0 to 8: `even_numbers = [x for x in range(9) if x % 2 == 0]`

List comprehensions are a powerful tool in Python that can help you write more efficient and readable code (i.e., more Pythonic code).

What if we wanted multiples of 3 or 5 from 1 to 25?

In [11]:
threes_fives = [i for i in range(1, 26) if (i%3==0) | (i%5==0)]

In [12]:
threes_fives

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25]

In [13]:
threes_fives_2 = [print(i) for i in range(1, 26) if (i%3==0) | (i%5==0)]

3
5
6
9
10
12
15
18
20
21
24
25

In [14]:
threes_fives_2

[None, None, None, None, None, None, None, None, None, None, None, None]

## Practice

### Swap the values assigned to `a` and `b` using a third variable `c`.

In [15]:
a = 1

In [16]:
b = 2

In [17]:
c = a

In [18]:
a = b

In [19]:
b = c

In [20]:
print(f'a is {a} and b is {b}')

a is 2 and b is 1

---

***More on f-strings!***

F-strings offer a concise way to embed expressions inside string literals, using curly braces `{}`.
Prefixed with `f` or `F`, these strings allow for easy formatting of variables, numbers, and expressions. For example:

```{python}
name = "Alice"
print(f"Hello, {name}!")
```

This outputs "Hello, Alice!".
F-strings simplify complex formatting, making code more readable.
For a deeper understanding and more examples:
<https://realpython.com/python-f-strings/>

---

### Swap the values assigned to `a` and `b` ***without*** using a third variable `c`.

In [21]:
a = 1
b = 2
b, a = a, b
print(f'a is {a} and b is {b}')

a is 2 and b is 1

In [22]:
a = 1
b = 2
a, b = b, a
print(f'a is {a} and b is {b}')

a is 2 and b is 1

### What is the output of the following code and why?

In [23]:
1, 1, 1 == (1, 1, 1)

(1, 1, False)

Without parentheses `()`, Python reads the final element in the tuple as `1 == (1, 1, 1)`, which is `False`.
We can use parentheses `()` to force Python to do what we want!

In [24]:
(1, 1, 1) == (1, 1, 1)

True

For this example, we must use parentheses `()` to be unambiguous!

### Create a list `l1` of integers from 1 to 100.

In [25]:
l1 = list(range(1, 101))

In [26]:
l1[:5]

[1, 2, 3, 4, 5]

In [27]:
l1[-5:]

[96, 97, 98, 99, 100]

### Slice `l1` to create a list `l2` of integers from 60 to 50 (inclusive).

In [28]:
l2 = l1[59:48:-1]
l2

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

In [29]:
l1[48:59]

[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [30]:
l2_alt_1 = l1[49:60][::-1]
l2_alt_1

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

In [31]:
l2_alt_2 = list(reversed(l1[49:60]))
l2_alt_2

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

### Create a list `l3` of odd integers from 1 to 21.

In [32]:
l3 = list(range(1, 22, 2))
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

Python `!=` is the same as Excel's `<>`.

In [33]:
l3_alt = [i for i in range(22) if i%2 != 0]
l3_alt

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [34]:
l3_alt_do_not_do_this = []
for i in range(22):
    if i%2 != 0:
        l3_alt_do_not_do_this.append(i)

l3_alt_do_not_do_this

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [35]:
l3_alt_do_not_do_this

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

### Create a list `l4` of the squares of integers from 1 to 100.

In [36]:
l4 = [i**2 for i in range(1, 101)]
l4[:5]

[1, 4, 9, 16, 25]

### Create a list `l5` that contains the squares of ***odd*** integers from 1 to 100.

In [37]:
l5 = [i**2 for i in range(1, 101) if i%2!=0]
l5[:5]

[1, 9, 25, 49, 81]

In [38]:
l5_alt = [i**2 for i in range(1, 101, 2)]
l5_alt[:5]

[1, 9, 25, 49, 81]

In [39]:
l5 == l5_alt

True

Which one is faster?!

In [40]:
%timeit [i**2 for i in range(1, 101) if i%2!=0]

5.2 μs ± 407 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [41]:
%timeit [i**2 for i in range(1, 101, 2)]

3.54 μs ± 523 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

> Premature optimization is the root of all evil
> 
>                                 - Donald Knuth

### Use a lambda function to sort `strings` by the last letter in each string.

In [42]:
strings = ['Pillsbury', 'Shubrick', 'Clemson', 'Hinson']

In [43]:
strings.sort()
strings

['Clemson', 'Hinson', 'Pillsbury', 'Shubrick']

In [44]:
'Clemson'[-1]

'n'

In [45]:
strings.sort(key=lambda x: x[-1])
strings

['Shubrick', 'Clemson', 'Hinson', 'Pillsbury']

In [46]:
strings.sort(key=len)
strings

['Hinson', 'Clemson', 'Shubrick', 'Pillsbury']

### Given an integer array `nums` and an integer `k`, write a function to return the $k^{th}$ largest element in the array.

Note that it is the $k^{th}$ largest element in the sorted order, not the $k^{th}$ distinct element.

Example 1:

Input: `nums = [3,2,1,5,6,4]`, `k = 2` \
Output: `5`

Example 2:

Input: `nums = [3,2,3,1,2,4,5,5,6]`, `k = 4` \
Output: `4`

I saw this question on [LeetCode](https://leetcode.com/problems/kth-largest-element-in-an-array/).

In [47]:
nums = [3,2,3,1,2,4,5,5,6]
k = 4

### Given an integer array `nums` and an integer `k`, write a function to return the `k` most frequent elements.

You may return the answer in any order.

Example 1:

Input: `nums = [1,1,1,2,2,3]`, `k = 2` \
Output: `[1,2]`

Example 2:

Input: `nums = [1]`, `k = 1` \
Output: `[1]`

I saw this question on [LeetCode](https://leetcode.com/problems/top-k-frequent-elements/).

In [48]:
nums = [1,1,1,2,2,3]
k = 2

### Test whether the given strings are palindromes.

Input: `["aba", "no"]` \
Output: `[True, False]`

In [49]:
tickers = ["AAPL", "GOOG", "XOX", "XOM"]

### Write a function `calc_returns()` that accepts lists of prices and dividends and returns a list of returns.

In [50]:
prices = [100, 150, 100, 50, 100, 150, 100, 150]
dividends = [1, 1, 1, 1, 2, 2, 2, 2]

### Rewrite the function `calc_returns()` as `calc_returns_2()` so it returns lists of returns, capital gains yields, and dividend yields.

### Write a function `rescale()` to rescale and shift numbers so that they cover the range `[0, 1]`.

Input: `[18.5, 17.0, 18.0, 19.0, 18.0]` \
Output: `[0.75, 0.0, 0.5, 1.0, 0.5]`

In [51]:
nums = [18.5, 17.0, 18.0, 19.0, 18.0]