In [1]:
import yfinance as yf

In [2]:
yf.version.version

'0.2.54'

In [3]:
yf.download('AAPL')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098726    0.099155    0.098726    0.098726  469033600
1980-12-15    0.093575    0.094005    0.093575    0.094005  175884800
1980-12-16    0.086707    0.087136    0.086707    0.087136  105728000
1980-12-17    0.088853    0.089282    0.088853    0.088853   86441600
1980-12-18    0.091429    0.091858    0.091429    0.091429   73449600
...                ...         ...         ...         ...        ...
2025-02-14  244.600006  245.550003  240.990005  241.250000   40896200
2025-02-18  244.470001  245.179993  241.839996  244.149994   48822500
2025-02-19  244.869995  246.009995  243.160004  244.660004   32204200
2025-02-20  245.830002  246.779999  244.289993  244.940002   32316900
2025-02-21  245.550003  248.690002  245.220001  245.964996   52954219

[11139 rows x 5 columns]